everis-wsdl-client/src/main/resources/wsdl/pessoasWsdl.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.everis.com/xml/pessoas" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.everis.com/xml/pessoas" targetNamespace="http://www.everis.com/xml/pessoas">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.everis.com/xml/pessoas">

    <xs:element name="PessoaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nome" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="PessoaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Pessoa" type="tns:Pessoa"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Pessoa">
        <xs:sequence>
        	<xs:element name="codigo" type="xs:int"/>	
            <xs:element name="nome" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
  </wsdl:types>
  <wsdl:message name="PessoaRequest">
    <wsdl:part element="tns:PessoaRequest" name="PessoaRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PessoaResponse">
    <wsdl:part element="tns:PessoaResponse" name="PessoaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PessoaPort">
    <wsdl:operation name="Pessoa">
      <wsdl:input message="tns:PessoaRequest" name="PessoaRequest">
    </wsdl:input>
      <wsdl:output message="tns:PessoaResponse" name="PessoaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PessoaPortSoap11" type="tns:PessoaPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Pessoa">
      <soap:operation soapAction=""/>
      <wsdl:input name="PessoaRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="PessoaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PessoaPortService">
    <wsdl:port binding="tns:PessoaPortSoap11" name="PessoaPortSoap11">
      <soap:address location="http://localhost:8080/service/pessoas"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>